@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
main{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100vh;
    width: 100vw;
}
aside{
    padding: 2rem;
    height: calc(100% / 3);
    width: calc(100% / 1);
    background-color: #B5CBB7;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}
aside > svg{
    width: 200px;
    height: 200px;
    margin: 1rem;
}
.section1{
    /* height: calc(100% / 3); */
    width: calc(100% / 1);
    background-color: #E7E08B;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
ul.skills{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-height: 240px;
}
.section2 {
    height: calc(200% / 3);
    width: calc(100% / 3);
    background-color: #D2E4C4;
}
.section3 {
    height: calc(200% / 3);
    width: calc(200% / 3);
    background-color: #E4E9B2;
}
.section1 svg{
    width: 100px;
    height: 100px;
}

li{
    border: 1rem black;
    list-style: none;
    margin: 1rem;
    filter: grayscale();
    text-align: center;
}

li:hover{
    cursor: pointer;
    padding-top: 1rem;
    filter:contrast(200%);
}
div.tooltip{
    opacity: 0;
    border: 2px black;
}
.icon-html:hover div.tooltip{
    opacity: 1;
}