* {
  margin: 0;
  padding: 0 ;
  box-sizing: border-box;
  font-family: sans-serif, monospace;
}
:root {
  --main-bg-color:#B5CBB7;
  --secondary-bg-color: #E7E08B;
  --tertiary-bg-color:  #D2E4C4;
  --quaternary-bg-color: #E4E9B2;
}
.header {
  min-height: 6rem;
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: var(--main-bg-color);
  font-size:24px;
  text-shadow: 0.4px 0.8px rgba(45, 44, 44, 0.84);
}
.header-scrolled{
  background-color: var(--secondary-bg-color);
  text-shadow: 0.4px 0.8px var(--main-bg-color);
}
.header-scrolled a:visited {
  color: #000000; 
}
#root {
  min-height: 200vh;
  display: flex;
  flex-direction: column;
}
main{
  flex: 1;
  display: flex;
  flex-direction: column;
}
div.home{
  background-color: var(--main-bg-color);
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
div.about {
  background-color: var(--secondary-bg-color);
  height: 200vh;
}
footer {
  min-height: 3rem;
}
ul{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  list-style: none;
}
nav{
  padding:2rem;
}

a{
  text-decoration: none;
}
a:visited{
  color: black;
}
svg.wave{
  background-color:var(--main-bg-color);
}

ul.skills {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  min-height: 6rem;
  position: sticky;
  top: 6rem;
}

ul.skills > li{
  border: 1rem black;
  list-style: none;
  filter: grayscale();
  text-align: center;
}

ul.skills > li:hover {
  cursor: pointer;
  padding-top: 1rem;
  filter: contrast(100%);
}
.card{
  background-color: var(--tertiary-bg-color);
  width:68rem;
  height: 28rem;
  border-radius: 0 0 1rem 1rem;
  position: sticky;
  top: 6rem;
  background-image: url("./assets/DiaNublado_miyazaki_style_of_a_young_software_developer_standin_1d88fc6c-5a57-4e0f-9a21-01a7bab13441.png");
  background-repeat: no-repeat;
  background-position:left;
  background-size: auto 100%;
  filter: opacity(0.2);
}

.page1{
  display: flex;
  flex-direction: column;
}
#page2 {
  height: 100vh;
  background-color: var(--main-bg-color);
}



